
/*
buildOutputFile: 'global';
*/
/*****************************
* A Modern CSS Reset (https://github.com/hankchizljaw/modern-css-reset)
* 上記に、ul要素,ol要素,a要素への記述追加
*****************************/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
li {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  padding: 0;
  background-color: initial;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// インナー幅＋余白
$breakpointInner: $innerWidth + strip-unit($padding-pc) * 2;

// ルートフォント設定
html {

  // ~ 375px
  @media (max-width: 375px) {
    font-size: vw(375, 16);
  }

  // 376px ~ 767px
  font-size: 100%;

  // 768px ~ インナー幅＋余白
  @include mq(md) {
    font-size: vw(strip-unit($breakpointInner), 16);
  }

  // インナー幅＋余白 ~
  @media (min-width: $breakpointInner ) {
    font-size: 100%;
  }
}
.l-inner {
  width: 100%;
  padding-right: myrem(strip-unit($padding-sp));
  padding-left: myrem(strip-unit($padding-sp));
  margin-right: auto;
  margin-left: auto;
  @include mq(md) {
    max-width: $innerWidth + $padding-pc * 2;
    padding-right: myrem(strip-unit($padding-pc));
    padding-left: myrem(strip-unit($padding-pc));
  }
}

// フォント、カラー設定
body {
  font-family: $font-main;
  color: $black;
}

// ホバー
a,
button {
  @include mq(md) {
    transition: .3s;

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }
}

.u-desktop {
  display: none;

  @include mq(md) {
    display: block;
  }
}
.u-mobile {
  display: block;

  @include mq(md) {
    display: none;
  }
}
